[Unit]
Description=Mopidy Music Server
After=network.target sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mopidy-init.sh
Restart=always
User=mopidy
Group=audio

[Install]
WantedBy=multi-user.target
